// Styling for the contact section
section#contact {
    border-top: 1px solid rgba(black, .3);
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
      border: none;
      border-bottom: 1px solid rgba(black, .6);
      border-radius: 0;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-600;
    @include quick-sand;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 18- */
    @include quick-sand;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 19+ */
    @include quick-sand;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include quick-sand;
  }
}
