// Styling for the navbar
#mainNav {
	background-color: transparent;
	padding: .5em 0;
	.navbar-toggler {
		color: white;
		outline: none;
		border: none;
		i {
			font-size: 2em;
			transition: all 0.3s;
		}
	}
	.navbar-brand {
		color: $primary;
		@include script-font;
		&.active,
		&:active,
		&:focus,
		&:hover {
			color: darken($primary, 10%);
		}
		img {
			height: 80px;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}
	}
	.navbar-nav {
		background-color: $gray-900;
		.nav-item {
			.nav-link {
				font-size: 80%;
				//font-weight: 600;
				padding: 0.75em 5px;
				letter-spacing: 1.5px;
				color: white;
				font-family: 'Quicksand','Helvetica Neue',Helvetica,Arial,sans-serif;;
				&.active,
				&:hover {
					color: $primary;
				}
			}
		}
	}
	&.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
		background-color: $gray-900;
		.navbar-brand {
			font-size: 1.25em;
			padding: 12px 0;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}
		img {
			height: 50px;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}
	}
}

@media(min-width: 992px) {
	#mainNav {
		padding-top: 25px;
		padding-bottom: 25px;
		-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
		-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		border: none;
		background-color: transparent;
		.navbar-brand {
			font-size: 1.75em;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			img {
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
			}
		}
		.navbar-nav {
			background-color: transparent;
			.nav-item {
				.nav-link {
					padding: 1.1em 1em !important;
				}
			}
		}
		&.navbar-shrink {
			padding-top: 0;
			padding-bottom: 0;
			background-color: $gray-900;
			.navbar-brand {
				font-size: 1.25em;
				padding: 12px 0;
			}
			img {
				height: 50px;
			}
		}
	}
}
