//- Portfolio
section#portfolio
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading.text-uppercase.pb-3.quickSand-title.text-primary Portfolio
                //h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
            .col-md-12
                ul#myTab.nav.nav-tabs(role='tablist')
                    li.nav-item
                        a#examples-tab.nav-link.active(data-toggle='tab', href='#ejemplos', role='tab', aria-controls='examples', aria-selected='true') Ejemplos
                    li.nav-item
                        a#samples-tab.nav-link(data-toggle='tab', href='#muestra', role='tab', aria-controls='samples', aria-selected='false') Muestra app almacen
                    li.nav-item
                        a#files-management-tab.nav-link(data-toggle='tab', href='#files-management', role='tab', aria-controls='files-management', aria-selected='false') Gestion de archivos
                    li.nav-item
                        a#ecommerceClient-tab.nav-link(data-toggle='tab', href='#ecommerceClient', role='tab', aria-controls='files-management', aria-selected='false') Tienda en linea
                    li.nav-item
                        a#art-studio-tab.nav-link(data-toggle='tab', href='#artStudio', role='tab', aria-controls='art-studio', aria-selected='false') Estudio de arte
                    
                    li.nav-item
                        a#salseamos-tab.nav-link(data-toggle='tab', href='#salseamos', role='tab', aria-controls='files-management', aria-selected='false') Salseamos.com

                .card.bg-transparent.border-0
                    .card-body
                        .tab-content#tablesGroup
                            include tabs/examples
                            include tabs/samples
                            include tabs/files-management
                            include tabs/e-commerce-client
                            include tabs/art-studio
                            include tabs/salseamos

    #test
        svg#svg