-var path = 'https://raw.githubusercontent.com/ortegon000/dcsol/master/img/portfolio/app-images/'
mixin galleryItem(imageName, dataSubHTML)
    .col-lg-3.col-md-4.col-sm-6.col-xs-12
        a.item(href=path + imageName, data-sub-html=dataSubHTML)
            img(src=path + imageName, width="100%", style='margin-bottom: 15px')