#collapseBarCharts.collapse
    .card.card-body
        .body.text-center
            .chart-container.d-inline-block(style='position: relative; height:400px; width:800px')
                canvas#barChart