#collapseEditableTable.collapse.advanced
    .card.card-body
        .body
            table#example.display.table.table-striped.table-hover(cellspacing='0', width='100%')
                thead
                    tr
                        th
                        th Name
                        th Position
                        th Office
                        th Extn.
                        th Start date
                        th Salary
                tfoot
                    tr
                        th
                        th Name
                        th Position
                        th Office
                        th Extn.
                        th Start date
                        th Salary
