#collapseEditableTable.collapse.advanced
    .card.card-body
        .body
            table#example.display.table.table-striped.table-hover(cellspacing='0', width='100%')
                thead
                    tr
                        th
                        th ID
                        th Nombre
                        th Apellido
                        th Puesto
                        th Email
                        th Oficina
                        th Edad
                        th Fecha de inicio
                tfoot
                    tr
                        th
                        th ID
                        th Nombre
                        th Apellido
                        th Puesto
                        th Email
                        th Oficina
                        th Edad
                        th Fecha de inicio
