#collapseFilterTable.collapse
    .card.card-body
        .body.table-responsive
            table.table#filter_table
                thead
                    tr
                        th #
                        th FIRST NAME
                        th LAST NAME
                        th USERNAME
                tbody
                    tr
                        th(scope='row') 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope='row') 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        th(scope='row') 3
                        td Larry
                        td the Bird
                        td @twitter
                    tr
                        th(scope='row') 4
                        td Larry
                        td Jellybean
                        td @lajelly
                    tr
                        th(scope='row') 5
                        td Larry
                        td Kikat
                        td @lakitkat
