- var values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
#collapseWizardForm.collapse.advanced
    .card.card-body
        .body
            form#wizard_form(action='#')
                div
                    h3 Cuenta
                    section
                        .row.form-group
                            .col-md-6
                                label(for='userName') Nombre *
                                input#userName.form-control.require(name='userName', type='text')
                            .col-md-6
                                label(for='creditCard') Tarjeta de credito
                                p.d-inline-block.m-0.type
                                input#creditCard.form-control(name='userName', type='creditCard', placeholder='0000 0000 0000 0000')
                        .row.form-group
                            .col-md-6
                                label(for='cleaveDate') Fecha
                                input#cleaveDate.form-control(name='cleaveDate', type='text', placeholder='YYYY/MM/DD')
                            .col-md-6
                                label(for='cleaveSalary') Salario
                                input#cleaveSalary.form-control(name='cleaveSalary', type='text')
                        .row.form-group
                            .col-md-6
                                label(for='password') Contraseña *
                                input#password.form-control.require(name='password', type='password')
                            .col-md-6
                                label(for='confirm') Confirmar contraseña *
                                input#confirm.form-control.require(name='confirm', type='password')
                        .row.form-group
                            .col-sm-12.col-md-6
                                label.w-100(for='password') Categoria
                                select.form-control.category
                                    option(selected='') Seleccionar
                                    each val in values
                                        option Puesto #{val}
                            .col-sm-12.col-md-6
                                label.w-100(for='categoryMultiple') Categoria Multiple
                                select#categoryMultiple(multiple='multiple' name='categories').form-control.category
                                    each val in values
                                        option Puesto #{val}

                        .row.form-group
                            .col-sm-12.col-md-12
                                label(for='cleaveAddress') Dirección
                                textarea#cleaveAddress.form-control(name='cleaveAddress')

                    h3 Adicionales
                    section
                        .row.form-group.text-center
                            .col-md-12
                                h2.section-heading.text-uppercase.text-primary.pb-3 MULTI-SELECT
                                select#my-select(multiple='multiple', name='my-select[]')
                                    each val in values
                                        option(value="elem_"+val) Producto #{val}
                        .row.clearfix.text-center
                            .col-md-12
                                h2.section-heading.text-uppercase.text-primary.p-3 INPUT RANGE
                            .col-md-6
                                p
                                    b Básico
                                #nouislider_basic_example
                                .m-t-20.font-12
                                    b Value:
                                    span.js-nouislider-value
                            .col-md-6
                                p
                                    b Rango
                                #nouislider_range_example
                                .m-t-20.font-12
                                    b Value:
                                    span.js-nouislider-value

                    h3 Manejo de archivos
                    section
                        .row.form-group.text-center
                            .col-md-12.text-center
                                h2.section-heading.text-uppercase.text-primary.pb-3 CARGA DE ARCHIVOS
                                input(type='file', style='margin: 0 auto')

                                br
                        .row.form-group.text-center
                            .col-md-12
                                h2.section-heading.text-uppercase.text-primary.pb-3 CON DROPZONE
                                div#myAwesomeDropzone.dropzone(action='/', method='post', enctype='multipart/form-data')
                                        .dz-message
                                            .drag-icon-cph
                                                i.fa.fa-hand-o-up.fa-4x.text-primary
                                            h3 Suelta los archivos aquí o haz clic para cargarlos.
                                        .fallback
                                            input(name='file', type='file', multiple='')