#collapseWizardForm.collapse.advanced
    .card.card-body
        .body
            form#wizard_form(action='#')
                div
                    h3 Cuenta
                    section
                        .row.form-group
                            .col-md-6
                                label(for='userName') Nombre *
                                input#userName.form-control.required(name='userName', type='text')
                            .col-md-6
                                label(for='creditCard') Tarjeta de credito
                                p.d-inline-block.m-0.type
                                input#creditCard.form-control(name='userName', type='creditCard', placeholder='0000 0000 0000 0000')
                        .row.form-group
                            .col-md-6
                                label(for='cleaveDate') Fecha
                                input#cleaveDate.form-control(name='cleaveDate', type='text', placeholder='YYYY/MM/DD')
                            .col-md-6
                                label(for='cleaveSalary') Salario
                                input#cleaveSalary.form-control(name='cleaveSalary', type='text')
                        .row.form-group
                            .col-md-6
                                label(for='password') Contraseña *
                                input#password.form-control.required(name='password', type='password')
                            .col-md-6
                                label(for='confirm') Confirmar contraseña *
                                input#confirm.form-control.required(name='confirm', type='password')
                        .row.form-group
                            .col-md-6
                                label.w-100(for='password') Categoria
                                select.form-control.category
                                    option(selected='') Seleccionar
                                    option Puesto 1
                                    option Puesto 2
                                    option Puesto 3
                                    option Puesto 4
                                    option Puesto 5
                            .col-md-6
                                label.w-100(for='categoryMultiple') Categoria Multiple
                                select#categoryMultiple(multiple='multiple' name='categories').form-control.category
                                    option Puesto 1
                                    option Puesto 2
                                    option Puesto 3
                                    option Puesto 4
                                    option Puesto 5
                        .row.form-group
                            .col-md-12
                                label(for='cleaveAddress') Dirección
                                textarea#cleaveAddress.form-control(name='cleaveAddress')

                    h3 Adicionales
                    section
                        label(for='name') First name *
                        input#name.required(name='name', type='text')
                        label(for='surname') Last name *
                        input#surname.required(name='surname', type='text')
                        label(for='email') Email *
                        input#email.required.email(name='email', type='text')
                        label(for='address') Address
                        input#address(name='address', type='text')
                        p (*) Mandatory
                    h3 Hints
                    section
                        ul
                            li Foo
                            li Bar
                            li Foobar
                    h3 Finish
                    section
                        input#acceptTerms.required(name='acceptTerms', type='checkbox')
                        label(for='acceptTerms') I agree with the Terms and Conditions.
