- var values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
#collapseWizardForm.collapse.advanced
    .card.card-body
        .body
            form#wizard_form(action='#')
                div
                    h3 Cuenta
                    section
                        .row.form-group
                            .col-md-6
                                label(for='userName') Nombre *
                                input#userName.form-control.require(name='userName', type='text')
                            .col-md-6
                                label(for='creditCard') Tarjeta de credito
                                p.d-inline-block.m-0.type
                                input#creditCard.form-control(name='userName', type='creditCard', placeholder='0000 0000 0000 0000')
                        .row.form-group
                            .col-md-6
                                label(for='cleaveDate') Fecha
                                input#cleaveDate.form-control(name='cleaveDate', type='text', placeholder='YYYY/MM/DD')
                            .col-md-6
                                label(for='cleaveSalary') Salario
                                input#cleaveSalary.form-control(name='cleaveSalary', type='text')
                        .row.form-group
                            .col-md-6
                                label(for='password') Contraseña *
                                input#password.form-control.require(name='password', type='password')
                            .col-md-6
                                label(for='confirm') Confirmar contraseña *
                                input#confirm.form-control.require(name='confirm', type='password')
                        .row.form-group
                            .col-md-6
                                label.w-100(for='password') Categoria
                                select.form-control.category
                                    option(selected='') Seleccionar
                                    each val in values
                                        option Puesto #{val}
                            .col-md-6
                                label.w-100(for='categoryMultiple') Categoria Multiple
                                select#categoryMultiple(multiple='multiple' name='categories').form-control.category
                                    each val in values
                                        option Puesto #{val}

                        .row.form-group
                            .col-md-12
                                label(for='cleaveAddress') Dirección
                                textarea#cleaveAddress.form-control(name='cleaveAddress')

                    h3 Adicionales
                    section
                        .row.form-group.text-center
                            .col-md-12
                                h2.section-heading.text-uppercase.text-primary.pb-3 MULTI-SELECT
                                select#my-select(multiple='multiple', name='my-select[]')
                                    each val in values
                                        option(value="elem_"+val) Producto #{val}
                        .row.form-group.text-center
                            .col-md-12
                                input(type='number')
                                select#input-select
                                #html5




                    h3 Hints
                    section
                        ul
                            li Foo
                            li Bar
                            li Foobar
                    h3 Finish
                    section
                        input#acceptTerms.required(name='acceptTerms', type='checkbox')
                        label(for='acceptTerms') I agree with the Terms and Conditions.
