doctype html
html(lang="es-mx")
    include modules/head.pug
    body.page-top
    include modules/nav-bar-menu.pug
    include modules/header.pug
    include modules/services-time-line.pug
    include modules/portfolio.pug
    include modules/about.pug
    include modules/team.pug
    //include modules/clients.pug
    include modules/contact.pug
    include modules/footer.pug
    include modules/modals.pug
    include modules/scripts.pug