form
    .row.form-group
        .col-md-4
            label.col-form-label() Nombre
            input.name.form-control(type='text' name='name' required='required')
        .col-md-4
            label.col-form-label.w-100() Puesto
            select.jobPosition.form-control.select2.w-100
                option(selected='') Seleccionar
                option Puesto 1
                option Puesto 2
                option Puesto 3
                option Puesto 4
                option Puesto 5
        .col-md-4
            label.col-form-label() Oficina
            input.office.form-control(type='text')

    .row.form-group
        .col-md-4
            label.col-form-label() Edad
            input.age.form-control(type='text' pattern='[0-9]')
        .col-md-4
            label.col-form-label() Fecha de inicio
            input.startDate.form-control.datepicker(type='text')
        .col-md-4
            label.col-form-label() Salario
            input.salary.form-control(type='text')

    button.btn.btn-success.btn_save_dummy_record Guardar