//- Services
section#about
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading.text-uppercase.text-primary Acerca de Nosotros
                h3.section-subheading.text-muted En DCSol contamos con un equipo de trabajo especializado en revisar, diseñar y cumplir con los requerimientos del cliente.
        .row.text-center
            .col-md-4.service-item
                span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-check.fa-stack-1x.fa-inverse
                h3.service-heading Calidad y satisfacción
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
            .col-md-4.service-item
                span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-wrench.fa-stack-1x.fa-inverse
                h3.service-heading Pasión por crear
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
            .col-md-4.service-item
                span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-code.fa-stack-1x.fa-inverse
                h3.service-heading Tecnología de vanguardia
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
            //.col-md-4.service-item
            //    span.fa-stack.fa-4x
            //        i.fa.fa-circle.fa-stack-2x
            //        i.fa.fa-handshake-o.fa-stack-1x.fa-inverse
            //    h3.service-heading Consultoria
            //    p.text-muted
            //        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
