//- Clients
section.p-5#Clients
    .container
        .row
            .col-md-12
                h2.text-center.section-heading.text-uppercase.text-primary Hemos colaborado con
            .col-md-4.col-sm-6
                a(href='#')
                    img.img-fluidcx  .d-block.mx-auto(src='img/logos/inversa.svg', alt='')
            .col-md-4.col-sm-6
                a(href='#')
                    img.img-fluid.d-block.mx-auto(src='img/logos/inversa.svg', alt='')
            .col-md-4.col-sm-6
                a(href='#')
                    img.img-fluid.d-block.mx-auto(src='img/logos/inversa.svg', alt='')