//- Portfolio
section#portfolio
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading.text-uppercase.text-white.pb-3 Casos de éxito
                //h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='http://www.inversainstalaciones.com.mx/wp-content/uploads/2017/05/IMG_0051.jpg', alt='')
                .portfolio-caption
                    h4 Software a medida
                    p.text-muted Illustration

            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='http://www.inversainstalaciones.com.mx/wp-content/uploads/2017/05/IMG_0051.jpg', alt='')
                .portfolio-caption
                    h4 Aplicación móvil
                    p.text-muted Illustration

            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='http://www.inversainstalaciones.com.mx/wp-content/uploads/2017/05/IMG_0051.jpg', alt='')
                .portfolio-caption
                    h4 Sistema de nómina
                    p.text-muted Illustration

    #test
        svg#svg