//- Portfolio
section#portfolio.bg-dark
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading.text-uppercase.text-primary Portfolio
                h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='https://images.unsplash.com/photo-1461749280684-dccba630e2f6?dpr=1&auto=format&fit=crop&w=376&h=251&q=60&cs=tinysrgb&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D', alt='')
                .portfolio-caption
                    h4 Software a medida
                    p.text-muted Illustration
            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='https://assets.pcmag.com/media/images/422493-best-cloud-storage-solutions.jpg?thumb=y&width=810&height=456', alt='')
                .portfolio-caption
                    h4 Siempre conectado
                    p.text-muted Identity
            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='https://camo.githubusercontent.com/76f928ba3e0bf5d610ac917b0462cbd346536011/68747470733a2f2f6373373035352e757365726170692e636f6d2f633633363732302f763633363732303431342f36386662362f31323378327543566570412e6a7067', alt='')
                .portfolio-caption
                    h4 Desarrollo web
                    p.text-muted Graphic Design
            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='https://www.upcloud.com/support/wp-content/uploads/2016/01/Lets-Encrypt-1024x410.png', alt='')
                .portfolio-caption
                    h4 Let´s Encrypt
                    p.text-muted Security
            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='https://discoversdkcdn.azureedge.net/postscontent/REACT_VS_NS_VS_IO.png', alt='')
                .portfolio-caption
                    h4 Southwest
                    p.text-muted Website Design
            .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fa.fa-plus.fa-3x
                    img.img-fluid(src='img/portfolio/06-thumbnail.jpg', alt='')
                .portfolio-caption
                    h4 Window
                    p.text-muted Photography
