//- Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')

//- Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')

//- Contact form JavaScript
script(src='js/jqBootstrapValidation.js')
script(src='js/contact_me.js')

//- Datatables
script(src='plugins/Datatables/datatables.min.js')
script(src='plugins/Datatables/dataTables.buttons.min.js')
script(src='plugins/Datatables/jszip.min.js')
script(src='plugins/Datatables/buttons.html5.min.js')
script(src='plugins/Datatables/pdfmake.min.js')
script(src='plugins/Datatables/vfs_fonts.js')
script(src='https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js')
script(src='plugins/Datatables/dataTables.editor.min.js')
script(src='js/dataToPopulateTable.js')

//- Select2
script(src='plugins/Select2/select2.min.js')

//- DatePicker
script(src='plugins/DatePicker/datepicker.min.js')

//- SweetAlert
script(src='plugins/SweetAlert/sweetalert.min.js')

//- Wizard
script(src='plugins/Wizard/jquery.validate.js')
script(src='plugins/Wizard/jquery.steps.js')
script(src='plugins/Wizard/form-wizard.js')

//- Cleave
script(src='plugins/Cleave/cleave.min.js')
script(src='plugins/Cleave/cleave-phone.es.js')

//- MultiSelect
script(src='plugins/MultiSelect/jquery.multi-select.js')

//- UISlider
script(src='plugins/UISlider/nouislider.min.js')

//- DropZone
script(src='plugins/DropZone/dropzone.js')

//- LightGallery
script(src='plugins/LightGallery/js/lightgallery.min.js')
script(src='plugins/LightGallery/js/lg-thumbnail.min.js')
script(src='plugins/LightGallery/js/lg-fullscreen.min.js')
script(src='plugins/LightGallery/js/lg-zoom.js')

//- ChartsJs
script(src='plugins/ChartJs/Chart.js')

//- Custom scripts for this template
script(src='js/agency.min.js')