//- Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')

//- Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')

//- Contact form JavaScript
script(src='js/jqBootstrapValidation.js')
script(src='js/contact_me.js')

//- Custom scripts for this template
script(src='js/agency.min.js')

//- Slides.js
script(src='./plugins/slides-js/source/jquery.slides.min.js')
//- REMOVER A OTRA HOJA
script(type='text/javascript').
	$(function(){
	$("#slides").slidesjs({
			width:  100,
			height: 200,
			pagination: true,
			navigation: true,
		});
	});