//- About
section#timeline
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading.text-uppercase.text-primary Servicios
                //h3.section-subheading.text-muted Comprometidos con nuestro trabajo
        .row
            .col-lg-12
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='https://n6-img-fp.akamaized.net/free-vector/checklist-in-flat-design_23-2147605431.jpg?size=338&ext=jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 2009-2011
                                h4.subheading Análisis
                            .timeline-body
                                p.text-muted
                                    | Definimos claramente el problema que se desea resolver o el sistema que se desea crear.
                                    br
                                    strong Identificamos los componentes principales
                                    |  que integrarán el producto.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid.bg-info(src='https://png.icons8.com/flow-chart/dotty/1600', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 March 2011
                                h4.subheading Diseño y arquitectura
                            .timeline-body
                                p.text-muted
                                    | Utilizamos la información recolectada en la etapa de análisis al diseño del proyecto. La tarea principal es
                                    strong  desarrollar un modelo
                                    | ,
                                    strong  especificaciones
                                    |  para el producto o
                                    strong  Componentes del sistema.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid.bg-warning(src='https://maxcdn.icons8.com/Share/icon/Programming//source_code1600.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 December 2012
                                h4.subheading Desarrollo
                            .timeline-body
                                p.text-muted
                                    | Utilizamos los modelos desarrollados durante la etapa de diseño para crear los componentes del sistema.
                    li.timeline-inverted
                        .timeline-image.bg-danger
                            img.rounded-circle.img-fluid(src='http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Test-paper-icon.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 July 2014
                                h4.subheading Pruebas y Verificación
                            .timeline-body
                                p.text-muted
                                    | Nos aseguramos de que los componentes que integran al sistema o producto, cumplan con los requerimientos de la especificación creada durante la etapa de diseño.
                    li
                        .timeline-image.bg-danger
                            img.rounded-circle.img-fluid(src='https://careerlauncher.collegesinstitutes.ca/wp-content/themes/careerlauncher/img/icon-success.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 July 2014
                                h4.subheading Implementación
                            .timeline-body
                                p.text-muted
                                    | La etapa de implementación ó entrega consiste en poner a disposición del cliente el producto.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid.bg-white(src='https://icon-icons.com/icons2/928/PNG/512/testing_icon-icons.com_72182.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                //h4 July 2014
                                h4.subheading Mantenimiento
                            .timeline-body
                                p.text-muted
                                    | Esta etapa se encarga de mejorar y/o añadir caracteristicas al producto y re-liberar como una nueva versión o revisión.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Disfruta
                                br
                                | Tu
                                br
                                | Aplicación !
                                br
                                i.fa.fa-heart.text-danger