
- var imgPath = "/img/slider/"
#Slider.carousel.slide(data-ride='carousel' data-interval='200000')
	ol.carousel-indicators
		li.active(data-target='#Slider', data-slide-to='0')
		li(data-target='#Slider', data-slide-to='1')
		li(data-target='#Slider', data-slide-to='2')

	.carousel-inner(role='listbox').d-flex.align-items-center.justify-content-cente
		.carousel-item.active(data-bg=imgPath+"business.jpg" data-bg-pos="top center")
			.carousel-caption.d-flex.justify-content-center.align-items-center
				.container
					.intro-text
						.intro-lead-in Haz crecer tu negocio
						h2.intro-description Somos la mejor opci贸n para la automatizaci贸n de procesos, reducci贸n de costos y tiempos, mediante software personalizado.

		.carousel-item(data-bg=imgPath+"apps.jpg")
			
			.carousel-caption.d-flex.justify-content-center.align-items-center
				.container
					.intro-text
						.intro-lead-in Desarrollo
							br
							|de
							br
							|aplicaciones.
						ul.list-platforms.list-unstyled.d-flex.justify-content-around.align-items-center
							li.list-item
								i.fa.fa-apple
								br
								|IOS
							li.list-item
								i.fa.fa-android
								br
								|Android
							li.list-item
								i.fa.fa-chrome
								br
								|Web
						.intro-heading.text-uppercase
		
		.carousel-item(data-bg=imgPath+"hdd.jpg" data-bg-pos="top right")
			
			.carousel-caption.d-flex.justify-content-center.align-items-center
				.container
					.intro-text
						.intro-lead-in Soluciones en la nube.
						ul.list-cloud-benefits
							li.list-item.text-left.pl-md-4 Acceso a tu aplicaci贸n a cualquier hora y desde cualquier lugar.
							li.list-item.text-left.pl-md-4 No se necesita de programas adicionales, con un navegador basta.
							li.list-item.text-left.pl-md-4 Se puede acceder desde celular, tablet, laptop, pc, etc.
						.intro-heading.text-uppercase

	a.carousel-control-prev(href='#Slider', role='button', data-slide='prev')
		span.carousel-control-prev-icon(aria-hidden='true')
		span.sr-only Previous

	a.carousel-control-next(href='#Slider', role='button', data-slide='next')
		span.carousel-control-next-icon(aria-hidden='true')
		span.sr-only Next
