- var imgPath = 'https://raw.githubusercontent.com/ortegon000/dcsol/master/img/slider/'
//- var imgPath = "/img/slider/"
#Slider.carousel.slide(data-ride='carousel' data-interval='200000')
	ol.carousel-indicators
		li.active(data-target='#Slider', data-slide-to='0')
		li(data-target='#Slider', data-slide-to='1')
		li(data-target='#Slider', data-slide-to='2')

	.carousel-inner(role='listbox')
		.carousel-item.active(data-bg=imgPath+"automatizacion.png" data-bg-pos="top center")
			.carousel-caption
				.container
					.intro-text
						.intro-lead-in Haz crecer tu negocio
						h2.intro-description Somos la mejor opción para la automatización de procesos, reducción de costos y tiempos, mediante software personalizado.

		.carousel-item(data-bg=imgPath+"apps.jpg")
			
			.carousel-caption
				.container
					.intro-text
						.intro-lead-in Desarrollo de aplicaciones.
						//h2.intro-description
						ul.list-platforms.list-unstyled.d-flex.justify-content-around.align-items-center
							li.list-item
								i.fa.fa-apple
								br
								|IOS
							li.list-item
								i.fa.fa-android
								br
								|Android
							li.list-item
								i.fa.fa-chrome
								br
								|Web
						.intro-heading.text-uppercase
		
		.carousel-item(data-bg=imgPath+"1.jpg" data-bg-pos="top right")
			
			.carousel-caption
				.container
					.intro-text
						.intro-lead-in Soluciones en la nube.
						ul.list-cloud-benefits
							li.list-item.text-left.pl-md-4 Acceso a cualquier hora y desde cualquier lugar.
							li.list-item.text-left.pl-md-4 No se necesita de programas adicionales, con un navegador basta.
							li.list-item.text-left.pl-md-4 Se puede acceder desde celular, tablet, laptop, pc, etc.
						.intro-heading.text-uppercase
						//a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Ver mas

	a.carousel-control-prev(href='#Slider', role='button', data-slide='prev')
		span.carousel-control-prev-icon(aria-hidden='true')
		span.sr-only Previous

	a.carousel-control-next(href='#Slider', role='button', data-slide='next')
		span.carousel-control-next-icon(aria-hidden='true')
		span.sr-only Next