include ../../../mixins/galleryItem
#ecommerce.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
    // -var path = '/img/portfolio/ecommerce-images/'
    -var path = 'https://raw.githubusercontent.com/ortegon000/dcsol/master/img/portfolio/ecommerce-images/'
    #ecommerce-imgs.row.clearfix
        +galleryItem('ecommerce-home.png', 'Vista Home #1')
        +galleryItem('ecommerce-home2.png', 'Vista Home #2')
        +galleryItem('ecommerce-home3.png', 'Vista Home #3')
        +galleryItem('ecommerce-categories.png', 'Categorias de producto')
        +galleryItem('ecommerce-categories-list.png', 'Lista y creación de categorías de producto')
        +galleryItem('ecommerce-products-list.png', 'Lista de productos')
        +galleryItem('ecommerce-new-product.png', 'Agregar nuevo producto')
        +galleryItem('ecommerce-tags-list.png', 'Lista y creación de etiquetas')