include ../../../mixins/galleryItem
#ecommerceClient.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
    //- -var path = '/img/portfolio/ecommerce-client/'
    -var path = 'https://raw.githubusercontent.com/ortegon000/dcsol/master/img/portfolio/ecommerce-client/'
    .ecommerceImgs.row.clearfix
        +galleryItem('pagina-principal.png', 'Pagina principal de tienda')
        +galleryItem('pagina-tienda.png', 'Productos de tienda')
        +galleryItem('vista-producto.png', 'Vista individual por producto')
        +galleryItem('pagina-contacto.png', 'Sección de contacto')
        +galleryItem('news-letter.png', 'Suscripción al boletín de noticias')
        +galleryItem('filtrado-categorias.png', 'Filtrado por categorias')
        +galleryItem('filtrado-rango.png', 'Filtrado por rango de precios')
        +galleryItem('filtrado-marcas.png', 'Filtrado por marca de producto')
        +galleryItem('busqueda-articulos.png', 'Busqueda por nombre de producto')
        +galleryItem('customer-login.png', 'login')
        +galleryItem('pedidos-cliente.png', 'Pedidos de cliente')
        +galleryItem('perfil-cliente.png', 'Perfil de cliente')
        +galleryItem('direcciones-cliente.png', 'Direcciones de cliente')