include ../../../mixins/targetToCollapse
- var imgPath = 'https://raw.githubusercontent.com/rodr7go/dcsol/master/img/portfolio/'

#ejemplos.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='profile-tab')
    .row

        +targetToCollapse('#collapseBasicTable', 'Tabla básica', 'basic_table.png', 'Tabla con configuración básica')
        +targetToCollapse('#collapseFilterTable', 'Tabla con filtros', 'filter_table.png', 'Busqueda por medio de filtros')
        +targetToCollapse('#collapseButtonsTable', 'Tabla avanzada', 'buttons_table.png', 'Copiar, PDF, Excel')

    .row
        +targetToCollapse('#collapseBasicForm', 'Formulario básico', 'basic_form.png', 'Configuración basica')
        +targetToCollapse('#collapseAdvancedForm', 'Uso de plugins', 'advanced_form.png', 'Formulario con plugins')
        +targetToCollapse('#collapseWizardForm', 'Paso a paso', 'wizard_form.png', 'Formulario con ayuda')

include ../collapse/basic_table
include ../collapse/filter_table
include ../collapse/buttons_table
include ../collapse/basic_form
include ../collapse/advanced_form
include ../collapse/wizard_form
