include ../../../mixins/galleryItem

#salseamos.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
    //- - var path = 'https://raw.githubusercontent.com/ortegon000/dcsol/master/img/portfolio/app-images/'
    - var path = '/img/portfolio/salseamos-images/'
    #animated-thumbnails.init-gallery.row.clearfix
        +galleryItem('pagina_principal.png', 'Página principal de salsemos.com - Eventos')
        +galleryItem('seccion_contacto.png', 'Sección de contacto - suscripción a boletín, listado de eventos y clubs')
        +galleryItem('pagina_clubs.png', 'Página de clubs de baile / clases')
        +galleryItem('pagina_calendario.png', 'Calendario donde se muestran los eventos y clases disponibles de la semana en curso')
        +galleryItem('pagina_mapa.png', 'El mapa muestra los eventos y clases cerca de tú ubicación')
        +galleryItem('pagina_acerca.png', 'Proposito y objetivo de salseamos')
        +galleryItem('sugerir_evento.png', 'Formulario para sugerir eventos')
        +galleryItem('detalle_evento.png', 'Se muestra un evento en detalle, dirección, horario, mapa, etc')
        +galleryItem('contacto_evento.png', 'Dirección, redes sociales, costo, ubicación')
        +galleryItem('comentarios_evento.png', 'En esta sección se pueden comentarios respecto al evento en cuestion')
        +galleryItem('mapa_votos_evento.png', 'Aqui se muestra el mapa de la ubicación del evento y ademas se puede votar desde una a cinco estrellas')
        +galleryItem('filtros.png', 'El filtrado se puede hacer ya sea por eventos o por clases y a su vez filtrarse por tipo de baile')
        +galleryItem('opciones_usuario.png', 'En esta pequeña sección podras encontrar tu nombre de usuario, la opción de poder cambiar el color del sitio, ver tu perfil y la opcion para poder tener acceso a la parte de administración del sitio')
        +galleryItem('detalle_club.png', 'Se muestra la informacion del club, calendario, detalles, ubicación, contacto, maestros, comentarios')
        +galleryItem('admin_eventos.png', 'Administración eventos - editar, eliminar')
        +galleryItem('admin_crear_evento.png', 'Administración Eventos - crear')
        +galleryItem('admin_clubs.png', 'Administración Clubs - editar, eliminar')
        +galleryItem('admin_crear_club.png', 'Administración Clubs - crear')
        +galleryItem('admin_horarios.png', 'Administración horarios')
        +galleryItem('admin_crear_horario.png', 'Administración horarios - crear')
        +galleryItem('admin_detalle_horarios.png', 'Administración detalle de horarios')
        +galleryItem('admin_crear_detalle_horario.png', 'Administración detalle de horarios - crear')
        +galleryItem('admin_tipos_baile.png', 'Administración tipos de baile - editar, eliminar')
        +galleryItem('admin_crear_tipo_baile.png', 'Administración tipos de baile - crear')
        +galleryItem('admin_suscriptores.png', 'Administración suscriptores')
        +galleryItem('admin_usuarios.png', 'Administración usuarios - editar, eliminar')
        +galleryItem('admin_crear_usuario.png', 'Administración usuarios - crear')
        +galleryItem('admin_maestros.png', 'Administración maestros - editar, eliminar')
        +galleryItem('admin_crear_maestro.png', 'Administración maestros - crear')
        +galleryItem('admin_comentarios.png', 'Administración comentarios')
