include ../../../mixins/galleryItem

#muestra.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
    -var path = 'https://raw.githubusercontent.com/ortegon000/dcsol/master/img/portfolio/app-images/'
    #animated-thumbnails.row.clearfix
        +galleryItem('intro-app-almacen.png', 'Intro de app')
        +galleryItem('login-app-almacen.png', 'Login de app')
        +galleryItem('menu-app.png', 'Menú de app')
        +galleryItem('delivery.png', 'Entradas')
        +galleryItem('transfer.png', 'Transferencias')
        +galleryItem('inventory.png', 'Inventario')
        +galleryItem('employees.png', 'Empleados')
        +galleryItem('provider.png', 'Proveedores')
        +galleryItem('surplus.png', 'Sobrantes')
        +galleryItem('exits.png', 'Salidas')
        +galleryItem('create_exit.png', 'Creación de Salidas')
        +galleryItem('exit_generated.png', 'Salida con datos')
        +galleryItem('picture_taken_from_exits.png', 'Fotografía para salida de almacén')
        +galleryItem('synchronizing_data.png', 'Sincronización de datos')
        +galleryItem('recovery.png', 'Recuperación de material')
