#muestra.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
    .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
            .portfolio-hover
                .portfolio-hover-content
                    i.fa.fa-plus.fa-3x
            img.img-fluid(src='http://www.inversainstalaciones.com.mx/wp-content/uploads/2017/05/IMG_0051.jpg', alt='')
        .portfolio-caption
            h4 Software a medida
            p.text-muted Otros