include ../../../mixins/galleryItem
-var path = 'https://raw.githubusercontent.com/ortegon000/dcsol/master/img/portfolio/app-images/'

#muestra.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
    #animated-thumbnails.row.clearfix
        +galleryItem('intro-app-almacen.png', 'Intro de app')
        +galleryItem('login-app-almacen.png', 'Login de app')
        +galleryItem('menu-app.png', 'Menú de app')
        +galleryItem('delivery.png', 'Entradas')
        +galleryItem('transfer.png', 'Transferencias')
        +galleryItem('inventory.png', 'Inventario')
        +galleryItem('employees.png', 'Empleados')
        +galleryItem('provider.png', 'Proveedores')
        +galleryItem('surplus.png', 'Sobrantes')
